#root>div {
    --ls-primary-background-color: #292D37;
    --ls-secondary-background-color: #292D37;
    --ls-tertiary-background-color: #292D37;
    --ls-quaternary-background-color: #292D37;
    --ls-border-color: #394351;
    --ls-guideline-color: #394351;
    --ls-scrollbar-foreground-color: #394351;
    --ls-page-inline-code-bg-color: #22262f;
    --ls-title-text-color: #ffffff;
    --ls-primary-text-color: #cacaca;
    --ls-tag-text-color: #6daad5;
    --ls-link-ref-text-color: #6daad5;
    --ls-link-text-color: #6daad5;
    --ls-block-ref-link-text-color: #292D37;
    --ls-block-highlight-color: #373f4e;
    --ls-block-bullet-border-color: #556b8b;
    --ls-block-properties-background-color: #292D37;
    --ls-page-properties-background-color: #292D37;
    --ls-table-tr-even-background-color: #292D37;
    --ls-secondary-border-color: #292D37;
    --ls-menu-hover-color: #394351;
    --color-level-4: #292D37;
    --color-level-5: #394351;
    --color-level-6: #444D5F;
    }

    .references-blocks-item {
      background-color: #303644;
    }

    .page.ref {
    --lx-text-override: var(--ls-link-ref-text-color);
    color: var(--lx-text-override,var(--lx-accent-11,var(--color-blue-200)));
    }

    a.tag {
    color: var(--ls-tag-text,var(--lx-accent-11,var(--ls-tag-text-color,#6daad5)));
    }

/* Custom Font Styles */
  body {
    font-family: 'Cantarell', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cantarell', sans-serif;
  }

  p {
    font-family: 'Cantarell', sans-serif;
  }
/* Add more styles as needed */