* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    font-size: 12px;
    min-height: 0;
    border: none;
    border-radius: 0;
}

window#waybar {
    /* background-color: rgba(22, 24, 26, 0.9); /\* 80% opacity *\/ */
    background-color: rgba(0, 0, 0, 0.9);
    /* border-bottom: 0px solid rgba(100, 114, 125, 0.5); */
    /* color: #e3e3e3; */
    transition-property: background-color;
    transition-duration: .5s;
    /* added below padding and margins to allow smaller font/bar height */
    padding: 0;
    margin: 0
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #e3e3e3;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -1px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -1px #e3e3e3; */
}

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover { */
/*     background-color: #64727D; */
/* } */

#workspaces button {
    padding: 0 4px;
    background-color: #222222;
    color: rgba(227, 227, 227, 0.7); /* 70% opacity */
    border: 0.5px solid #333333;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #62727D;
    /* color: #e3e3e3; /\* Brighter color *\/ */
    color: rgba(227, 227, 227, 1);
    box-shadow: inset 0 0px #e3e3e3;
}

#workspaces button.active {
    background-color: #285577;
    color: #ffffff;
    border: 0.5px solid #477495;

}

#workspaces button.urgent {
    background-color: #A98AAD;
    color: #e3e3e3;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -1px #e3e3e3;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    /* color: #e3e3e3; */
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    /* color: #A3BE8C; */
    color: rgba(227, 227, 227, 1); /* Example: 70% opacity */
}

#battery {
    background-color: transparent;
    /* color: #e3e3e3; */
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
}

#battery.charging, #battery.plugged {
    color: #e3e3e3;
    background-color: transparent;
}

@keyframes blink {
    to {
        /* background-color: #e3e3e3; */
        background-color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #A98AAD;
    /* color: #e3e3e3; */
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: transparent;
    color: #e3e3e3;
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    color: #e3e3e3;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #000000;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    /* color: #fff0f5; */
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
}

#pulseaudio.muted {
    background-color: transparent;
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
    /* color: #fff0f5; */
}

#wireplumber {
    background-color: transparent;
    color: #000000;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-media {
    background-color: transparent;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #A98AAD;
}

#idle_inhibitor {
    background-color: transparent;
    color: rgba(227, 227, 227, 0.7); /* Example: 70% opacity */
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #ffffff;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #A98AAD;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
